/.vscode
/config
/json-schemas
!/locales
/migrations
!/prisma
!/rhidium
scripts
!/src

.dockerignore
*.env*
*.git*
compose.yaml
Dockerfile
LICENSE
README.md
*.md
!prisma.config.ts
!tsconfig.json
!tsdown.config.ts
