NODE_ENV=production # The node environment your bot is running in. Available values: production, development
RHIDIUM_CONFIG_DIR=./config # The directory where Rhidium's configuration files are stored.
RHIDIUM_LOCALES_DIR=./locales # The directory where Rhidium's locale files are stored.
RHIDIUM_PACKAGE_JSON=./rhidium/package.json # The directory where Rhidium's `package.json` file lives.

# ---------------------------------- Docker (Compose) ---------------------------------- #
COMPOSE_FILE=docker/compose.yaml # The path to the Docker Compose file.
COMPOSE_PROJECT_NAME=rhidium-dvc # The name of the Docker Compose project.
DOCKER_BUILDKIT=1 # Enable Docker BuildKit for better performance and features.
BUILDKIT_PROGRESS=plain # Show plain build output for better readability.

# ---------------------------------- Database ---------------------------------- #
POSTGRES_HOST=${DB_HOST:-localhost} # Change to "database" if using docker (compose)
POSTGRES_PORT=${DB_PORT:-5432} # The port your PostgreSQL server is running on. Default is 5432.
POSTGRES_USER=${DB_USER:-postgres} # The username for your PostgreSQL server. Default is "postgres".
POSTGRES_PASSWORD=${DB_PASSWORD:-} # The password for your PostgreSQL server.
POSTGRES_DB=dynamic-voice-channels # The name of the database to connect to. Default is "dynamic-voice-channels".

# The database URL for connecting to the (PostgreSQL) database. You generally don't
# need to change this, but you can if you want to use a different database or schema.
# Note: This URL is used during runtime/normal operations, and supports PgBouncer connection pooling.
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public&pgbouncer=true"

# Direct database URL. Should always point DIRECTLY to the database, no connection pooling, etc.
# Note: Used for Prisma migrations which don't support concurrent connection(s) pooling.
DIRECT_DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
